* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #__next {
  font-family: "unbounded", sans-serif;
  font-size: 16px;
  color: #000000; 
  background-color: #0f172a; 
  line-height: 1.5;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

a {
  text-decoration: none;
  color: inherit;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

input, textarea, select {
  font-family: inherit;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}














